body{
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    opacity: 0.8;
    color: white; 
    background-color: rgb(45, 45, 48);
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    overflow-x: hidden;
    min-height: 100vh !important;
}

.navbarNew{
    background-color: black !important;
    color: white;
}

.search_icon{
    margin-top: 1%;
    border: 0;
}
#ps, #xbox, #origin{
    color: tomato;
}
/* #origin:hover{
    color: #00a2ed;
}
#ps:hover{
        color: rgb(120, 71, 255);
}
#xbox:hover{
        color: rgb(71, 255, 178);
} */



a{
    text-decoration: none;
    color: rgb(228, 228, 228);
}
a:hover{
    color: rgb(228, 20, 5);
    text-decoration: none;

}

.links{
    text-decoration: none; 
}

.links:visited{
    background-color: yellowgreen;
}

.profile{
    border-radius: 3px;
}


.sectionImage{
    height: 100%;
    width: 30%;
    flex: 1;
}

#imageTD{
    width: 15%;
    height:10%; 
    border-radius: 10%"
}


.footer{
    position: absolute;
    bottom: 10px;
    width: 100%;
}
#searchPlayer{
    position: relative;
    width: 80%;
    left: 10%;
    
}
.platformContainer1{
    z-index: 100;
    display: inline;
    position: absolute;
    top: 0; 
    right: 5px;
    font-size: 1em;
    opacity:.5;
    -webkit-transition: all 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
    transition: all 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
  }
  .platformContainer2{
    z-index: 100;
    display: inline;
    position: absolute;
    top: 0; 
    right: 45px;
    font-size: 1em;
    opacity:.5;
      -webkit-transition: all 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
      transition: all 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
  }
  .platformContainer3{
    z-index: 100;
    display: inline;
    position: absolute;
    top: 0; 
    right: 85px;
    font-size: 1em;
    opacity:.5;
      -webkit-transition: all 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
      transition: all 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
  }
  .platformContainer1:hover,.platformContainer2:hover,.platformContainer3:hover{
      opacity: 1 !important;
  } 

  .search_input{
      border-radius: 10px;
      background: white !important;
      color: black !important;
      -webkit-transition: all 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
      transition: all 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
  }
  .search_input:focus{
      border: 2px solid rgb(228, 20, 5);
}
.profileDiv{
    position: relative;
    width: 400px;
    color: white !important;
    background-color: black !important;
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);

}
.profileDiv img{
    display: block;
    padding-top: 40px !important;
    width: 200px;
}
.profileDiv h2{
    display: block;
    color: white;
    position: absolute;
    top: 50%;
}

/* .search_input .field:focus-within .icons{
    opacity: 1;
  } */
  