body{
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    opacity: 0.8;
    color: white; 
    background-color: rgb(45, 45, 48);
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    overflow-x: hidden;
    min-height: 100vh !important;
}

.search_icon{
    color: rgb(255, 255, 255);
    margin-top: 1%;
    background-color: #ffffff00;
    border: 0;
}
#ps, #xbox, #origin{
    color: tomato;
}
#origin:hover{
    color: rgb(252, 252, 252);
}
#ps:hover{
        color: rgb(120, 71, 255);
}
#xbox:hover{
        color: rgb(71, 255, 178);
}


.search_icon:hover{
    color: chartreuse;
}

a{
    text-decoration: none;
    color: rgb(228, 228, 228);
}
a:hover{
    color: rgb(228, 20, 5);
    text-decoration: none;

}

.links{
    text-decoration: none; 
}

.links:visited{
    background-color: yellowgreen;
}

.profile{
    border-radius: 3px;
}


.sectionImage{
    height: 100%;
    width: 30%;
    flex: 1;
}

#imageTD{
    width: 15%;
    height:10%; 
    border-radius: 10%"
}


.footer{
    position: absolute;
    bottom: 10px;
    width: 100%;
}
