body {
    /* background-image:url('../images/wp7314437.jpg'); */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/wp7314437.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.navbarNew{
  background-color: black !important;
  color: white;
}

.profileDiv{
    justify-content: center;
    align-items: center;
    color: white;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: hidden;
}

#headings th{
  background-color: rgb(255, 255, 255);
  color: black;

}
dt {
  font-weight: 800;
  text-align: center;
}
td{
  text-align: center;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
  text-align: center;
}

img {
  vertical-align: middle;
  border-style: none;
}
.card{
    border: 0;
    background-color: rgba(0, 0, 0, 0); 
    color:rgb(255, 255, 255);
}
.tableBodyContent{
    background-color: rgba(0, 0, 0, 0); 
    color: rgb(255, 255, 255);
}
.avatarTitles{
    color: rgb(0, 0, 0);
}

table {
  background-color: black; 
  color:rgb(255, 244, 244);
  border-radius: 5%;
}
.avatarHolder{
    background-color: rgba(0, 0, 0, 0); 
    color:rgb(255, 255, 255);
}

.wapons{
    margin-left: 1%;
}
.footer{
    color: white;
    font-style: italic;
    margin-top: 1%;
    margin-bottom: 0.5%;
}
.profile{
  width: 15%;
  height: 30%;
  border-radius: 30%;
}
a{
  text-decoration: none;
  color: rgb(228, 228, 228);
}
a:hover{
  color: rgb(228, 20, 5);
  text-decoration: none;

}
.v-middle tbody{
  text-align: center;
}

.tableBodyContent th{
  text-align: left;
}

.avatarTitles th{
  text-align: center;
}

.searchContainer{
  background: none;
  border: none;
  z-index: 100;
  display: inline;
  position: absolute;
  top: 17%; 
  right: 5px;
  font-size: 1em;
  opacity:.5;
    -webkit-transition: all 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
    transition: all 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
}
.searchContainer:hover{
  background: none;

    opacity: 1 !important;
} 
.loadingicons{
  z-index: 100;
  position: absolute;
  top: 25%; 
  right: 50px;
  font-size: 1em;;
  -webkit-transition: all 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
  transition: all 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
}
.search_input{
    border-radius: 10px;
    background: white !important;
    color: black !important;
    -webkit-transition: all 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
    transition: all 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
}
.search_input:focus{
    border: 2px solid rgb(228, 20, 5);
}
#searchPlayer{
  position: relative;
  width: 80%;
  left: 10%;
  
}