body {
    background-image:url('../images/wp7314437.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    opacity: 0.8;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.profileDiv{
    justify-content: center;
    align-items: center;
    color: white;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: hidden;
}

#headings th{
  background-color: rgb(255, 255, 255);
  color: black;

}
dt {
  font-weight: 800;
  text-align: center;
}
td{
  text-align: center;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
  text-align: center;
}

img {
  vertical-align: middle;
  border-style: none;
}
.card{
    border: 0;
    background-color: rgba(0, 0, 0, 0); 
    color:rgb(255, 255, 255);
}
.tableBodyContent{
    background-color: rgba(0, 0, 0, 0); 
    color: rgb(255, 255, 255);
}
.avatarTitles{
    color: rgb(0, 0, 0);
}

table {
  background-color: black; 
  color:rgb(255, 244, 244);

}
.avatarHolder{
    background-color: rgba(0, 0, 0, 0); 
    color:rgb(255, 255, 255);
}

.wapons{
    margin-left: 1%;
}
.footer{
    color: white;
    font-style: italic;
    margin-top: 1%;
    margin-bottom: 0.5%;
}
.profile{
  width: 15%;
  height: 30%;
  border-radius: 30%;
}
.search_icon{
  color: rgb(255, 255, 255);
  position: fixed;
  padding-left: 0.7%;
  /* right: 5px; */
  margin-top: 0.7%;
}
a{
  text-decoration: none;
  color: rgb(228, 228, 228);
}
a:hover{
  color: rgb(228, 20, 5);
  text-decoration: none;

}
